<nav class="bg-green-600 font flex flex-row justify-between px-6 py-2">
<p class="text-xl text-white font-black">LOGO</p>
<div class="mx-2 ">
    <a href="/insert" class=" text-white hover:underline ml-2 font-bold">Add Book</a>
    <a href="/admin" class=" text-white hover:underline ml-2 font-bold">Admin </a>
</div>
</nav>