<%- include('./partials/Header.ejs')%>
<%- include('./partials/Navbar.ejs')%>

    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-3 bg-gray-200">
        <%- include('./partials/Sidebar.ejs')%>
      </div>

      <!-- Center Horizontal and Vertical -->
      <div class="col-span-12 sm:col-span-9 bg-gray-100">
        <div class="py-1 py-3">
          <h1 class="font-bold  text-green-700 mx-4 my-4"><b>A1 Library</b></h1>
        <div class="pl-3">
          <h3 class="py-1 ">A1 Book Library</h3>
          <p style="color: rgb(0, 0, 0)">
            The Purpose of this website is to guide you through a sea of
            information
          </p>
          <p1>
            <h1 class="font-bold  text-green-700  my-4"><b>Vission</b></h1>

            A1 Libraries is central to the vibrant instructional and learning
            culture found throughout the college.<br />
            Through innovative services and collaborative partnerships, A1
            Libraries actively engages with the college <br />
            community to enhance student success. We provide access to the
            finest library resources, trusted learning spaces and<br />
            the expertise of professional librarians and support staff.<br />

            <h1 class="font-bold  text-green-700  my-4"><b>Mission</b></h1>

            To create seamless access to A1 Libraries’ resources, services and
            spaces by:<br />

            Integrating library products and services into all instructional
            modalities Researching, experimenting with and<br />
            distributing the new technologies that enhance and support diverse
            learning styles Promoting innovation and excellence<br />
            in teaching information literacy competencies for faculty and
            students Advocating for improved library spaces that support<br />
            student learning and knowledge creation Expanding electronic formats
            through innovative technologies Creating opportunities for<br />
            library staff training Pursuing collaborative relationships to
            enhance and develop quality products and services.<br />

            <h1 class="font-bold  text-green-700  my-4"><b>Values</b></h1>

            A1 Libraries is committed to quality by offering:<br />

            Student-centered product and service provision Excellence in
            customer service and instructional activities Respect for all<br />
            students, faculty and staff Vibrant workplaces based on personal
            integrity, professionalism, knowledge, accountability, diversity,<br />
            openness and trust Innovation in tracking, testing and implementing
            relevant and leading-edge technologies and resources
            Collaboration,<br />
            teamwork and leadership with internal and external partners
            Empowerment through equitable library access regardless of media or
            learning style
          </p1>
        </div>
        </div>
      </div>
    </div>



    <%- include('./partials/Footer.ejs')%>


  </body>
</html>
